form(name="createProjectForm", method="post" , action="project/create", enctype="multipart/form-data")
   input(type="text", placeholder="Title", name="title")
   input(type="file", name="mainImg" )
   input(type="submit", value="Create")

