h1 Edit profile
form(name="profileForm")
    fieldset
        legend Create New User
            label(for="first-name") First Name
                input.form-control(type="text", placeholder="First Name", ng-model="user.firstName", required)
            label(for="last-name") Last Name
                input(type="text", placeholder="Last Name", ng-model="user.lastName", required)

            button(ng-click="editPrifile(user)", ng-disabled="profileForm.$invalid") Create
            a(href="/") Cancel